<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
		<% include partials/template/head.ejs %>
	</head>
	<body>
		<% include partials/content/modals.ejs %>
		<div id="wrapper">
			<div class= "helpHolder" style="width:100%;  height:100%; position: absolute; z-index: 9999; display:none"></div>
			<% include partials/content/navbar.ejs %>
			<% include partials/template/sideBar.ejs %>
			<% include partials/template/pageContent.ejs %>
			<div id="printHolder"></div>
		</div>


		<% include partials/template/jsdefaults.ejs %>
	</body>
</html>
