<html>
	<% include partials/template/floodatlas_head.ejs %>
	<body>
		<% include partials/template/floodatlas_header.ejs %>
		<div class="container">
			<br>
			<div class="row">
				<div class="col-md-8" role="main">
					<p>The Toledo Flood Hazard Visualizer displays the results of <a href="http://coast.noaa.gov/digitalcoast/publications/climate-change-adaptation-pilot">Economic Assessment of Green Infrastructure Strategies for Climate Change Adaptation: Pilot Studies in The Great Lakes Region</a>.
					<img src="<%=theLoc%>img/screenShot.png" class="bordered " style="width:90%; margin:20px;"></p>
				</div>
				<div class="col-md-4">
					<div class="affix-top" role="complementary">
						<ul class="nav">
							<li>
								<a href="./" class="heading-text" style="font-size: 24px; text-align: right;">
										<i class="fa fa-lg fa-share"></i> Launch the Toledo Flood Hazard Visualizer
								</a>
							</li>
							<hr>
							<li>
								<p>Please email Lizzi@floods.org with any questions, concerns or recommendations.</p>
								<a href="https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;to=Lizzi@floods.org&amp;tf=1"><i class="fa fa-paper-plane"></i>
									Lizzi Slivinski&mdash;Web GIS Specialist, ASFPM
								</a>
							</li>
						</ul>
						<!-- /.nav -->
					</div>
					<!-- /.affix-top[role="complementary"] -->
				</div>
				<!-- /.col-md-4 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
		<% include partials/template/floodatlas_footer.ejs %>
		<!-- scripts -->
		<% include partials/template/floodatlas_jsdefaults.ejs %>
		<script src="<%=theLoc%>js/dataPortal.js"></script>
	</body>
</html>
