<% include ../content/zoomControls.ejs %>
<div id="page-content-wrapper" style="padding:0px;">
	<div class="container-fluid" style="padding:0px;">
		<% include ../content/dataPanel.ejs %>
		<% if(_DOM.mobileDevice == false){ %>
			<% include ../content/legend.ejs %>
		<% } %>
		<div id="map"></div>
		<div id="chart" class="collapse">
			<a href="#" class="right-side resetBreaks" style="display:none;"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Reset Breaks</a>
		</div>
		<div class="custom-attribution right-side down-low"></div>
	</div>
	<!-- /.container-fluid -->
</div>
