<div id="sidebar-wrapper">
	<div id="accordion_Modes" class="panel-group" role="tablist" aria-labelledby="collapseListGroupHeading1" aria-expanded="true" style="width:100%">
		<ul  class="nav nav-stacked">
			<li id="displayPanel">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-blue">
						<button class="btn btn-link help-btn" data-toggle="help" data-help="displayPanel">
							<i class="flaticon-info20"></i>
						</button>
						Display

					</div>
					<!-- /.panel-heading -->
					<div id="accordion_Display" class="panel-group collapse in" role="tablist" aria-labelledby="collapseListGroupHeading2" aria-expanded="true" >
						<!--  -->
						<% if(_DOM.mobileDevice== true){ %>
							<% include ../content/mobileLegend.ejs %>
						<% } %>
						<% include ../content/layerCheckboxes.ejs %>
						<% include ../content/basemapRadios.ejs %>
					</div>
					<!-- /#accordion_Display -->
				</div>
				<!-- /.panel -->
			</li>
			<li id= "analyzePanel">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-blue">
						<button class="btn btn-link help-btn" data-toggle="help" data-help="analyzePanel">
							<i class="flaticon-info20"></i>
						</button>
							Analyze
					</div>
					<!-- /.panel-heading -->
					<div id="accordion_Analyze" class="panel-group collapse in" role="tablist" aria-labelledby="collapseListGroupHeading3" aria-expanded="true" >
						<% include ../content/populationStatistics.ejs %>
						<% include ../content/dataDistributionBtn.ejs %>
						<% /*include ../content/compareView.ejs*/ %>
					</div>
					<!-- /#accordion_Analyze -->
				</div>
				<!-- /.panel -->
			</li>
			<li>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-blue">
						<button class="btn btn-link help-btn" data-toggle="help" data-help="share">
							<i class="flaticon-info20"></i>
						</button>
						Export
					</div>
					<!-- /.panel-heading -->
					<div id="accordion_Export" class="panel-group collapse in" role="tablist" aria-labelledby="collapseListGroupHeading3" aria-expanded="true" >
						<% include ../content/share.ejs %>
					</div>
					<!-- /#accordion_Export -->
				</div>
				<!-- /.panel -->
			</li>
		</ul>
		<!-- /.nav -->
	</div>
	<!-- /.panel-group -->

</div>
<!-- /.sidebar-wrapper -->
