
	<div class="panel panel-default">
		<div class="panel-heading" id = 'basemapHeading'>
			<a data-toggle="collapse" href="#basemapBody" aria-expanded="false" aria-controls="collapseOne">
				<h4 class="panel-title expandPanel">Basemap </h4>
			</a>
		</div>
		<!-- /.panel-heading -->
		<div id="basemapBody" class="panel-collapse collapse" role="tabpanel" aria-labelledby="basemapHeading">
			<div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
				<% for(var i=0; i<appdata.basemaps.length; i++) {%>
					<div class="radio">
						<label>
							<input type="radio" name="basemapRadios" value="<%=appdata.basemaps[i].value%>"<% if (appdata.basemaps[i].value==_DOM.basemapRadios){%> checked<%}%> >
							<%= appdata.basemaps[i].text %>
						</label>
					</div>
				<% } %>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /#basemapBody -->
	</div>
	<!-- /.panel -->

