<div class="panel panel-default hidden">
	<div class="panel-heading" id = 'compareHeading'>
		<a data-toggle="collapse" href="#compareBody" aria-expanded="true" aria-controls="collapseOne" >
			<h4 class="panel-title expandPanel">Compare Data</h4>
		</a>
	</div>
		<div id="compareBody" class="collapse in" role="tabpanel" aria-labelledby="compareHeading">


				<button class="btn btn-link btn-block" id="toggleCompare">
					<h4 class="panel-title">
						<span class="pull-left"> Compare View</span>
						<i class="fa fa-toggle-<%- (_DOM.showCompareFeatures==true) ? 'on' : 'off' %> pull-right"></i>
					</h4>
				</button>

				<div id="compare-chart" style="width: 100%; height: 250px;"></div>

				<button class="btn btn-link btn-block" data-toggle="collapse" href="#compareFloods" aria-expanded="false" aria-controls="compareFloods" id="compareOptions">
					<h4 class="panel-title">
						<span class="pull-left"> Compare Settings</span>
						<i class="fa fa-cog pull-right"></i>
					</h4>
				</button>



				<div id="compareFloods" class="collapse" role="tabpanel" aria-labelledby="compareOptions">
					<div class="list-group" id= "comparisonTypes">
						<% for (d in appdata.compareTypes){ %>
							<div class="radio list-group-item <% if(appdata.compareTypes[d].value==_DOM.compareType){%>active<%}%> ">
								<label>
									<input type="radio" name="comparisonRadios" value="<%= appdata.compareTypes[d].value %>" <% if(appdata.compareTypes[d].value==_DOM.compareType){%>checked <%}%> >
									<span class="radio-icon"><i class='fa fa-check' style="margin-left: -15px"></i></span>
									<small><%= appdata.compareTypes[d].text %></small>
								</label>
							</div>
						<% } %>
					</div>
					<!-- /.list-group -->
				</div>
		</div>
		<!-- /#compareBody -->
</div>
<!-- /.panel -->
