<div class="customTools up-top left-side">
	<div id="accordion_Data" class="panel-group on-map" role="tablist" aria-labelledby="collapseListGroupHeading1" aria-expanded="true" >
		<% include ../content/scenarioSelector.ejs %>
		<% include ../content/floodEventRadios.ejs %>
		<% include ../content/attributeSelector.ejs %>
	</div>
</div>
