<div class="panel panel-default">
		<div class="panel-heading btn-block" id='dataDistributionHeading'>
			<a data-toggle="collapse" href="#chart" aria-expanded="false" aria-controls="collapseOne" >
				<h4 class="panel-title">Data Distribution
					<i class="pull-right fa fa-eye"></i>
				</h4>
			</a>
		</div>
</div>
