<div class="down-low left-side customTools down-low" style="display: inline-flex">
	<div class="panel-group" id="legendAccordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<a data-toggle="collapse" data-parent="#legendAccordion" href="#floodHazardsPanel" aria-expanded="true" aria-controls="floodHazardsPanel">
					<h4 class="panel-title">
						<i class="fa fa-ellipsis-h"></i>
						&nbsp;&nbsp;&nbsp;&nbsp;Flood Hazards
					</h4>
				</a>

			</div>
			<!-- /.panel-heading -->
			<div id="floodHazardsPanel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					<div id="baseText"></div>
					<div class="hidden"><% include scaleSelector.ejs %></div>

					<div id="floodHazardsLegend"></div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.floodHazardsPanel -->
		</div>
		<!-- /.panel -->
		<div class="panel panel-default" style="display:none">
			<div class="panel-heading" role="tab" id="headingTwo">
				<a class="collapsed" data-toggle="collapse" data-parent="#legendAccordion" href="#landUsePanel" aria-expanded="false" aria-controls="landUsePanel">
					<h4 class="panel-title">
						<i class="fa fa-ellipsis-h"></i>
						&nbsp;&nbsp;&nbsp;&nbsp;Land Use
					</h4>
				</a>
			</div>
			<!-- /.panel-heading -->
			<div id="landUsePanel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<div id="landUseLegend"></div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /#landUsePanel -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.panel-group -->
</div>
<!-- /.customTools -->
