
	<div class="panel panel-default">
		<div class="panel-heading" id = 'hazardHeading'>
			<a data-toggle="collapse" href="#floodHazardsPanel" aria-expanded="true" aria-controls="collapseOne">
				<h4 class="panel-title expandPanel">Flood Damages</h4>
			</a>
		</div>
		<!-- /.panel-heading -->
		<div id="floodHazardsPanel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="hazardHeading">
			<div class="panel-body" >
				<div id="baseText"></div>
				<div class="hidden"><% include scaleSelector.ejs %></div>
				<div id="floodHazardsLegend"></div>
			</div>
			<!-- /.panel-->
		</div>
		<!-- /#floodHazardsPanel -->

	</div>
	<!-- /.panel -->
 	<div class="panel panel-default" style="display:none">
		<div class="panel-heading" id="headingTwo">
			<a class="collapsed" data-toggle="collapse" href="#landUsePanel" aria-expanded="false" aria-controls="landUsePanel">
				<h4 class="panel-title expandPanel">
					Future Land Use
				</h4>
			</a>
		</div>
		<!-- /.panel-heading -->
		<div id="landUsePanel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body">
				<div id="landUseLegend"></div>
			</div>
			<!-- /.panel-->
		</div>
		<!-- /#landUsePanel -->
	</div>
	<!-- /.panel -->

