<li>
	<div class="panel panel-default"style='margin-bottom: 10px !important;'>
		<div class="panel-heading" id = 'modeHeading'>
			<a data-toggle="collapse" href="#modeBody" aria-expanded="true" aria-controls="collapseOne">
				<h4>Mode</h4>
			</a>
		</div>
		<!-- /.panel-heading -->
		<div id="modeBody" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="modeHeading">
			<div class="panel-body">
				<div id='rememberMode-alert' class="alert alert-grey alert-dismissible" role="alert" style="display:none;">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<small><em>Remember this for next time?</em></small>
					<div class='row-fluid'>
						<button id='rememberMode' class='btn btn-success'>Yes</button>
						<button id='forgetMode' class='btn btn-default'>No</button>
					</div>
				</div>
				<!-- /#rememberMode-alert -->
				<div class="list-group">
					<div class="radio list-group-item <% if (variables.mode=='basic'){%> active<%}%>">
						<label>
							<i class='fa fa-check'style="margin-left: -15px"></i>
							<input type="radio" name="modeRadios" value="basic"<% if (variables.mode=='basic'){%> checked<%}%> >
							Discover
						</label>
					</div>
					<div class="radio list-group-item <% if (variables.mode=='advanced'){%> active<%}%>">
						<label>
							<i class='fa fa-check'style="margin-left: -15px"></i>
							<input type="radio" name="modeRadios" value="advanced"<% if (variables.mode=='advanced'){%> checked<%}%> >
							Analyze
						</label>
					</div>
				</div>
				<div class="adv-only">
					<button class="btn btn-link" onclick="helpTour('advanced_only')">
						<span class="pull-left">Learn About Analyze Features</span>
						<span class="pull-right"><i class="flaticon-info20"></i></span>
					</button>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /#modeBody -->
	</div>
	<!-- /.panel -->
</li>

