<nav class="navbar" role="navigation" id="navHeader" >
	<div>
	<a href="#menu-toggle" class=" btn btn-link pull-right menu-btn " id="menu-toggle">
			<i class='fa fa-navicon fa-lg'></i>
		</a>
		<div class="row-fluid">

		<a class="navbar-brand" href="#" data-toggle='modal' data-target='#aboutModal'>
			Toledo Flood Hazard Visualizer
		</a>
	</div>
	</div>
</nav>
