
<span id= "colorScaleContent" class="adv-only">
	Color Scale :
	<div id='scale-selector-dropdown'>
		<select id="scaleSelector" class="selectpicker" data-container="body" data-hide-disabled="true" data-width="200px">
			<% for(var i=0; i<appdata.scales.length; i++) {%>
				<option value="<%= appdata.scales[i].value %>" <% if (appdata.scales[i].value==_DOM.scaleSelector){%> selected<%}%> <% if ((appdata.scales[i].value=="continuous")||(appdata.scales[i].value=="quantile_Color")){%> disabled<%}%>>
					<%= appdata.scales[i].text %>
				</option>
			<% } %>
		</select>
		<button data-toggle='modal' data-target='#scaleExplanationModal' class="btn btn-link">
			<i class="fa fa-question-circle"></i>
		</button>
	</div>
	<!-- /#scale-selector-dropdown -->
</span>
