<div id="shareBody">
	<div class="panel panel-default">
		<div class="panel-heading btn-block">
			<a href="#" onclick="getLink($('#mapViewLink input'))" data-title="Export the Current Map View as a Url" data-placement="right">
				<h4 class="panel-title">Export as Link
					<i class="fa fa-external-link pull-right"></i>
				</h4>
			</a>
		</div>
		<div id= "mapViewLink" class="panel-body collapse">
			<br>
			<input type="url" class="form-control" onclick="getLink(this)" value="">
			<p><small><em>Press Ctrl+C to Copy the link to your clipboard</em></small></p>
		</div>
	</div>
	<!-- /.panel -->
	<div class="panel panel-default hide-mobile">
		<div class="panel-heading btn-block map-printer">
			<a href="#" data-print="#map" data-title="Print the Current Map View" data-placement="right">
				<h4 class="panel-title">
					<i class="fa fa-print pull-right"></i>
					Print Map
				</h4>
			</a>
		</div>
	</div>
	<!-- /.panel -->
	<div class="panel panel-default">
		<div class="panel-heading btn-block">
			<a href="#" onclick="location.href='<%=variables.dataPath %>'" data-title="Access the Toledo Flood Hazards Data Portal" data-placement="right">
				<h4 class="panel-title">
					<i class="fa fa-download pull-right"></i>
					Get the Data
				</h4>
			</a>
		</div>
	</div>
	<!-- /.panel -->
</div>
<!-- /#shareBody -->

