
<div class = "zoomHolder customTools up-top right-side">
	<div class="btn-group-vertical " id='zoomControls'>
		<button id="zoomIn" type="button" style="color:#337ab7" class="btn btn-default" onclick="map.zoomIn()">
			<i class="fa fa-plus"></i>
		</button>
		<button id="zoomOut" type="button" style="color:#337ab7" class="btn btn-default" onclick="map.zoomOut()">
			<i class="fa fa-minus"></i>
		</button>
		<button id="zoomReset" type="button" style="color:#337ab7" class="btn btn-default" onclick="map.fitBounds(fullExtent)">
			<i class="fa fa-globe"></i>
		</button>
	</div>
</div>